{% assign owner = site.data.nav.footer[0] %}
{% assign social = site.data.nav.footer[1] %}
{% assign ardsa = site.data.nav.footer[2] %}
{% assign quick = site.data.nav.footer[3] %}
{% assign about = site.data.copy.global[0] %}

<footer class="page-footer">
    <div class="page-footer-owner">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-6 col-sm-12">
                    <p class="my-3">{{ about.about }}</p>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-red m-foot">Socials</h3>
                    <!-- Social media links -->
                    <ul class="my-3">
                        {% for so_link in social.social %}
                        <li>
                            {% if so_link.url %}
                            <i class="{{ so_link.icon }}"></i><a href="{{ so_link.url }}">{{ so_link.label }}</a>
                            {% else %}
                            <strong>{{ so_link.label }}</strong>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-red m-foot">Arkansas DSA</h3>
                    <ul class="my-3">
                        {% for ar_link in ardsa.ardsa %}
                        <li>
                            {% if ar_link.url %}
                            <a href="{{ ar_link.url }}" target="_blank">{{ ar_link.label }}</a>
                            {% else %}
                            <strong>{{ ar_link.label }}</strong>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-red m-foot">Quick Links</h3>
                    <ul class="my-3">
                        {% for qu_link in quick.quick %}
                        <li>
                            {% if qu_link.url %}
                            <a href="{{ qu_link.url }}">{{ qu_link.label }}</a>
                            {% else %}
                            <strong>{{ qu_link.label }}</strong>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer-copyright">
        <div class="container text-center">
            <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} logo" height="32" width="32"> <a class="nav-link" style="color: #fff; font-weight: bold">&copy; 2024, Northwest Arkansas DSA </a>
        </div>
    </div>
</footer>
